<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="principal">
        
        <input type="text" v-model="n1">
        <input type="text" v-model="n2">
        <div>
            <button v-on:click="somar">Somar</button>
            <button  v-on:click="multiplicar">Multipliar</button>
            <button  v-on:click="dividir">Dividir</button>
            <button  v-on:click="subtrair">Subtrair</button>

        </div>
        <p>Resultados: {{ resultado  }} </p>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js">
     </script>
    <script>
     const app = {
        data(){
            return{
                n1: '',
                n2: '',
                resultado: 0,
            };
                
        },
            methods: {
                somar(){
                    this.resultado = parseInt(this.n1) + parseInt(this.n2);
                },
                multiplicar(){
                    this.resultado = parseInt(this.n1) * parseInt(this.n2);
                },
                dividir(){
                    this.resultado = parseInt(this.n1) / parseInt(this.n2);
                },
                subtrair(){
                    this.resultado = parseInt(this.n1) - parseInt(this.n2);
                },
            },
            
            
        };
     
     Vue.createApp(app).mount("#principal");
     </script>
</body>
</html>